<div>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" ng-model="user.username">
</div>
<div>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email" ng-model="user.email">
</div>
<div>
    <label for="pwd">Password:</label>
    <input type="password" name="password" id="password" ng-model="user.password">
</div>
<div>
    <label for="pwd">Password Again:</label>
    <input type="password" name="password2" id="password2" ng-model="user.password2">
</div>
<div>

    <button ng-click="signup()">Submit</button>
</div>