#map {
    height: 100%;
}
.place-edit #map {
    width: 80%;
    height: 200px;
}
body {
    margin: 0;
}

.nav-bar {
    margin-bottom: 0px;
}

#description {
    width: 250px;
    height: 100px;
}

.navbar {
    margin-bottom: 0px !important;
}